.footer {
  background-color: var(--footer);
  color: var(--white);
  padding: 10px;
  font-size: var(--fs-s);
}

.footer__copyright {
  color: black;
}

.footer__reseaux {
  display: flex;
  gap: 10px;
}