.footer {
  background-color: var(--footer);
  color: var(--white);
  padding: var(--space3x);
  font-size: var(--fs-s);
  margin-top: 50px;
}

.footer__copyright {
  color: black;
}

.footer__reseaux {
  display: flex;
  gap: 10px;
}