.hero {
  padding: var(--space5x) var(--space3x) var(--space4x);
}

.hero--home {
  background-color: var(--header);  
  height: 10vh
}

.hero__title--home {
  text-align: center;
  margin: 0;
  color: white;
}
